SAR-Sistema de Administracion de Redes/SAR-Sistema de Administracion de Redes/Service References/ServiceColaborador/Colaboradores2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SARSOAPService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SARSOAPService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Colaborador">
    <xs:sequence>
      <xs:element minOccurs="0" name="cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="fechanacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Colaborador" nillable="true" type="tns:Colaborador" />
  <xs:complexType name="ArrayOfColaborador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Colaborador" nillable="true" type="tns:Colaborador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColaborador" nillable="true" type="tns:ArrayOfColaborador" />
</xs:schema>