SAR-Sistema de Administracion de Redes/SAR-Sistema de Administracion de Redes/Service References/ServiceColaborador/Colaboradores3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6052/Colaboradores.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SARSOAPService.Dominio" />
  <xs:element name="CrearColaborador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SARSOAPService.Dominio" minOccurs="0" name="colaboradorCrear" nillable="true" type="q1:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SARSOAPService.Dominio" minOccurs="0" name="CrearColaboradorResult" nillable="true" type="q2:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerColaborador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SARSOAPService.Dominio" minOccurs="0" name="ObtenerColaboradorResult" nillable="true" type="q3:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarColaborador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SARSOAPService.Dominio" minOccurs="0" name="colaboradorModificar" nillable="true" type="q4:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SARSOAPService.Dominio" minOccurs="0" name="ModificarColaboradorResult" nillable="true" type="q5:Colaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarColaborador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarColaboradorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarColaborador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SARSOAPService.Dominio" minOccurs="0" name="ListarColaboradorResult" nillable="true" type="q6:ArrayOfColaborador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>